/* GLOBAL */
html {
  background-color: mintcream;
}
.page {
  padding: 2em
}

input, button {
  font-size:1.2em
}

.username-button {
  margin-left: 1em;
  padding:0 0.5em
}

a {
  text-decoration: none;
  color: dodgerblue;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: blue
}

.bold-text {
  font-weight: bold;
}

/* HOME PAGE */
#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  text-align: center;
}

#logo-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-logo {
  height: 40vh;
  min-height: 150px;
}

/* USERS PAGE */
#user-data-container {
  display: flex;
  justify-content: space-between
}

#userbox {
  padding: 1em;
  display:flex;
  flex-direction: column;
  border: solid gray 3px;
  flex: 0 0 250px;
  margin-right: 1em;
  height: 80vh;
  border-radius: 10px
}

#input-container {
  display: flex;
  justify-content: center;
}

#avatar-container {
  display: flex;
  justify-content: center;
}

#user-avatar {
  width: 80%;
  border-radius: 50%;
  border: solid dodgerblue 5px;
  justify-self: center;
}

#repo-cards-container {
  display:grid;
  height: 74vh;
  overflow-y: auto;
  grid-template-columns:repeat(auto-fill, minmax(310px,1fr));
  grid-gap:20px;
}

.repo-card {
  display: flex;
  flex-direction: column;
  border: solid gray 3px;
  border-radius: 10px;
  padding: 1em;
}

.repo-title {
  text-align: center;
  min-height: 40%; 
  max-height: 40%
}

.repo-detail {
  height: 60%
}

.repo-desc {
  font-style: italic;
}

